{% extends 'WorkoutAppWebGUI/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
    {% endif %}

    <h3>Workout</h3>
    <form method="post">{% csrf_token %}
        {{ form|crispy }}
    <h4>Sets:</h4>
        {{ sets|crispy }}
    <input type="submit" value="Save">
    </form>

{% endblock %}