{% extends 'WorkoutAppWebGUI/base.html' %}
{% block content %}

    <h2>Welcome to Base 45 Training</h2>
    <p>
        This web app was designed to bridge the gap between
        technology and fitness by providing both a record keeping
        system to monitor progress, as well as provide support
        for continuous improvement. In collaboration with personalized
        program design, it leverages machine learning capabilities to
        create a smart approach to exercise.
    </p>
    <h3>
        Disclaimer:
    </h3>
    <p>
        This app was designed after significant study for my personal
        use. Although I am passionate about the project and willing to
        offer programming or other advice, I do not (yet) hold personal
        training certification.
    </p>
    <p>
        Development of this app is currently ongoing
    </p>

{% endblock %}